{% extends 'layout.html' %}

<!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
{% endblock %}

<!-- Set the page title -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

<!-- Header goes inside the header block -->
<!-- More info and code for the header can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}

<div id="nhsuk-cookie-banner" data-nosnippet="true">
  <div class="nhsuk-cookie-banner" id="cookiebanner">
    <div class="nhsuk-width-container"> 
      <br>
        <h2>Cookies on the NHS website</h2> 
        <p>We've put some small files called cookies on your device to make our site work.</p>
        <p>We'd also like to use analytics cookies. These send information about how our site is used to services called Adobe Analytics, Hotjar and Google Analytics. We use this information to improve our site.</p>
        <p>Let us know if this is OK. We'll use a cookie to save your choice. You can <a id="nhsuk-cookie-banner__link" href="nhsbsa-cookies" tabindex="1">read more about our cookies</a> before you choose.</p>
        <form action="cookies-decision">
            <button class="nhsuk-button" href="cookies/cookies-decision" tabindex="2">I'm OK with analytics cookies</button>&nbsp;&nbsp;&nbsp;
        
            <button class="nhsuk-button" href="#" tabindex="3">Do not use analytics cookies</button>
          </form>
    </div>
  </div>

  <div class="nhsuk-success-banner" id="nhsuk-cookie-confirmation-banner" style="display:none;">
    <div class="nhsuk-width-container">
      <p id="nhsuk-success-banner__message">You can change your cookie settings at any time using our <a href="/our-policies/cookies-policy/">cookies page</a>.</p>
    </div>
  </div>
</div>

  {{ header({
    "service": {
        "name": serviceName,
        "href": "/"
      },
      "showNav": "false",
      "showSearch": "false"
    })
  }}

{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}

{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-xl">{{ serviceName }}</h1>
    <p class="nhsuk-body-l">An NHS exemption certificate helps you to pay for your NHS costs, such as prescriptions or dental treatment.</p>

    <h2 class="nhsuk-heading-l">What you can check</h2>

    <p class="nhsuk-body">If you live in England, you can use this service to check if your NHS exemption:</p>

    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>is still valid or will expire soon</li>
      <li>entitles you to free NHS prescriptions</li>
      <li>entitles you to free NHS dental check-ups and treatment</li>
    </ul>

    <h3 class="nhsuk-heading-m">Exemptions you can check</h3>

    <ul class="nhsuk-list nhsuk-list--bullet">
      <li> NHS Prescription Prepayment Certificate (PPC)</li>
      <li>medical exemption certificate</li>
      <li>maternity exemption certificate</li>
      <li>HC2 certificate (full help through the NHS Low Income Scheme)</li>
    </ul>

    <p class="nhsuk-body">This result can only be used as proof today. You'll need to check this service each time you want to use it as proof.</p>

    <h3 class="nhsuk-heading-m">Exemptions you cannot currently check</h3>

    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>HC3 certificate (partial help through the NHS Low Income Scheme)</li>
      <li>Hormone Replacement Therapy Prescription Prepayment Certificate (HRT PPC)</li>
    </ul>

    <p class="nhsuk-body"> <a href="https://www.nhsbsa.nhs.uk/contact-nhs-help-health-costs">Contact us if you think you may have one of these certificates and want to check if it is still valid</a>.</p>

    <p class="nhsuk-body">We cannot check prescription exemption certificates issued by the Ministry of Defence. <a href="https://www.gov.uk/guidance/war-pensioners-other-help-you-may-be-entitled-to#prescription-exemption-certificates">More information on these certificates can be found at GOV.UK</a>.</p>

    <h2 class="nhsuk-heading-l">When you do not need to check</h2>

    <p class="nhsuk-body">You're automatically entitled to free NHS prescriptions and NHS dental treatment if you are:</p>

    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>under 16</li>
      <li>16, 17 or 18 and in full time education</li>
      <li>getting <a class="nhsuk-link" href="https://www.nhsbsa.nhs.uk/check-if-youre-eligible-help/getting-benefits"
          target="_blank" rel="noopener" aria-label="certain benefits (opens in a new tab)">certain benefits</a> or you're named on the claim as a partner or child
      </li>
    </ul>

    {{ button({
      text: 'Start now'
    }) }}

  </div>
</div>

{{ data | debugData | safe }}

{% endblock %}
