// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////
  
.done-panel {
    background-color: #005EB8;
    text-align: center;
    color: white;
    padding: 20px;
    margin: 0px 0px 30px 0px;
  }