// Import NHS.UK frontend library
@import 'nhsuk-frontend/dist/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/related-nav';
@import 'components/phase-banner';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////
  
.done-panel {
    background-color: #005EB8;
    text-align: center;
    color: white;
    padding: 20px;
    margin: 0px 0px 30px 0px;
  }

  .nhsuk-list--circle,
  .nhsuk-list--dash {
    list-style: none;
    margin-top: 0;
    padding-left: 40px;
    position: relative;
  }

  .nhsuk-list--circle svg,
  .nhsuk-list--dash svg {
    left: -4px;
    margin-top: -5px;
    position: absolute;
  }