{% extends 'layout.html' %}


{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

   {{ panel({
      titleText: 'You get help with health costs',
      html: 'You are under 16'
    }) }}


    {{ list({
      title: 'You get free',
      type: 'tick',
      headingLevel: 2,
      items: [
        { item: 'NHS prescriptions' },
        { item: 'NHS dental check-ups and treatment' },
        { item: 'sight tests' },
        { item: 'NHS wigs and fabric supports' }        
      ]
    }) }}

    <div class="nhsuk-do-dont-list">
      <h2 class="nhsuk-do-dont-list__label">You get money off</h2>
      <ul class="nhsuk-list nhsuk-list--circle" role="list">
        <li><svg class="nhsuk-icon nhsuk-icon__dash" width="34" height="34" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;"><path d="M20,12l-16,0" style="fill:none;fill-rule:nonzero;stroke:#f90;stroke-width:4px;"/></svg>new glasses or contact lenses</li>
        <li><svg class="nhsuk-icon nhsuk-icon__dash" width="34" height="34" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linecap:round;"><path d="M20,12l-16,0" style="fill:none;fill-rule:nonzero;stroke:#f90;stroke-width:4.82px;"/></svg>repairing or replacing your glasses or contact lenses</li>
      </ul>
    </div>



    {{ list({
      title: 'You do not automatically get help with',
      type: 'cross',
      hidePrefix: true,
      headingLevel: 2,
      items: [
        { item: 'travel for NHS treatment' }  
      ]
    }) }}

    <p>You may still get help if your parent or guardian is on <a href="https://www.nhsbsa.nhs.uk/check-if-youre-eligible-help/getting-benefits">certain benefits</a> or has applied for <a href="https://www.nhsbsa.nhs.uk/nhs-help-health-costs">help with NHS costs</a>.</p>

    <h2 class="nhsuk-heading-m">How to get your help</h2>
    <p>In most circumstances you won't have to do anything as your date of birth will be on your medical records and will show your age.</p>

    <h3 class="nhsuk-heading-s">To get your free prescriptions</h3>
    <p>Tick box A (first box down) on the back of the prescription form.</p>

    <h2 class="nhsuk-heading-m">Help us improve this service</h2>
    <p class="nhsuk-body"><a href="{{ data.feedbackLink }}">What did you think of this service?</a> (Takes 30 seconds)</p>


    {{ actionLink({
      text: 'Check again',
      href: 'start'
    }) }}


  </div>
</div>

{% endblock %}