{% extends 'layout.html' %}


{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">


    {{ panel({
      titleText: 'You currently have an NHS exemption',
      html: 'Expires on ' + ( 6 | alterTodaysDateByNumberOfMonths )
    }) }}

    {{ list({
      title: 'You get free',
      type: 'tick',
      headingLevel: 2,
      items: [
        { item: 'NHS prescriptions' },
        { item: 'NHS dental check-ups and treatment' }    
      ]
    }) }}

    <h2 class="nhsuk-u-visually-hidden">Exemption details</h2>

    {{ summaryList({
      rows: [
        {
          key: { text: 'Full name' },
          value: { html: '' | processName() }
        },
        {
          key: { text: 'Date of birth' },
          value: { text: '' | processDateOfBirth() }
        },
        {
          key: { text: 'End date' },
          value: { text: 6 | alterTodaysDateByNumberOfMonths }
        },
        {
          key: { text: "Today's date" },
          value: { text: 0 | alterTodaysDateByNumberOfMonths }
        }
      ]
    }) }}



    <h2 class="nhsuk-heading-m">How to get your help</h2>

    <h3 class="nhsuk-heading-s">Collecting prescriptions</h3>
    <p class="nhsuk-body">Pharmacy staff will ask for your exemption details. If you do not have them with you, your
      pharmacist should tick 'Evidence not seen' on the prescription. They will not charge you.</p>
    <p class="nhsuk-body">You can show this page as proof today.</p>

    <h3 class="nhsuk-heading-s">Dental check-ups and treatment</h3>
    <p class="nhsuk-body">At your dental practice you'll be given a form to fill out.</p>
    <p class="nhsuk-body">Put a cross (X) in the relevant box and write your certificate number on the form if you:</p>

    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>have a valid HC2 certificate</li>
      <li>are pregnant</li>
      <li>have had a baby in the last 12 months</li>
    </ul>

    <p class="nhsuk-body">Your dentist may ask to see proof of your entitlement.</p>
    <p class="nhsuk-body">You can show this page as proof today.</p>
    <p class="nhsuk-body">Find out what <a href="https://www.nhsbsa.nhs.uk/check-if-you-have-nhs-exemption/maternity-exemption-certificates">help you can get for dental treatment if you have a maternity
        exemption certificate</a></p>

    <p class="nhsuk-body"><a href="#">Print this</a></p>

    <h2 class="nhsuk-heading-s">Help us improve this service</h2>
    <p class="nhsuk-body"><a href="{{ data.feedbackLink }}">What did you think of this service?</a> (Takes 30 seconds)</p>

    <hr class="nhsuk-section-break" />

    {{ actionLink({
    text: 'Check again',
    href: 'start'
    }) }}


  </div>
</div>

{% endblock %}