{% extends 'layout.html' %}


{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">


    {% set panelHTML %}
      <dl>
         <div>
             <dd class="nhsuk-body nhsuk-u-margin-0">Certificate reference</dd>
             <dt class="nhsuk-heading-l">PPC 34FR SD28</dt>
         </div>
         <div>
             <dd class="nhsuk-body nhsuk-u-margin-0">Exemption ends</dd>
             <dt class="nhsuk-heading-l nhsuk-u-margin-bottom-0">{{ 6 | alterTodaysDateByNumberOfMonths }}</dt>
         </div>
     </dl>
    {% endset %}

    {{ panel({
      titleText: 'You currently have a Prescription Prepayment Certificate (PPC)',
       html: panelHTML
    }) }}

    {{ list({
      title: 'You get free',
      type: 'tick',
      headingLevel: 2,
      items: [
        { item: 'NHS prescriptions' }  
      ]
    }) }}

    <h2 class="nhsuk-u-visually-hidden">Exemption details</h2>

    {{ summaryList({
      rows: [
        {
          key: { text: 'Full name' },
          value: { html: '' | processName() },
          actions: {
            items: [
              { href: '#', text: 'Change', visuallyHiddenText: 'full name' }
            ]
          }
        },
        {
          key: { text: 'Date of birth' },
          value: { text: '' | processDateOfBirth() }
        },
        {
          key: { text: 'Address' },
          value: { html: '60 Mill Road<br />Worcester<br />WR51 0LD' },
          actions: {
            items: [
              { href: '#', text: 'Change', visuallyHiddenText: 'address' }
            ]
          }
        },
        {
          key: { text: 'Email address' },
          value: { text: 'jane.smith@outlook.com' },
          actions: {
            items: [
              { href: '#', text: 'Change', visuallyHiddenText: 'address' }
            ]
          }
        },
        {
          key: { text: 'Phone number' },
          value: { text: '07700 900123' },
          actions: {
            items: [
              { href: '#', text: 'Change', visuallyHiddenText: 'address' }
            ]
          }
        },
        {
          key: { text: 'End date' },
          value: { text: 6 | alterTodaysDateByNumberOfMonths }
        },
        {
          key: { text: "Today's date" },
          value: { text: 0 | alterTodaysDateByNumberOfMonths }
        }
      ]
    }) }}


    <!-- SAVE YOUR CERTIFICATE -->
    <h2 class="nhsuk-heading-m">Save your certificate</h2>
    <p class="nhsuk-body">You must save your certificate details. You can do this by saving it as a PDF, printing a copy, or taking a screenshot of this page.</p>
    <p class="nhsuk-body">If you're taking a screenshot, make sure it shows your certificate details.</p>

    <ul class="nhsuk-list nhsuk-list--bullet">
      <li><a href="#">Save as a PDF</a></li>
      <li><a href="#">Print out a copy</a></li>
    </ul>

    

    <h3 class="nhsuk-heading-s">Add your certificate to an Apple Wallet</h2>

    <!-- APPLE WALLET SECTION ON DESKTOP -->
    <div class="apple-wallet-section--desktop">
        <p class="nhsuk-body">If you use Apple Wallet, you can <a href="#">download your certificate</a> and then send it to your iPhone - for example, by emailing the file to yourself and opening it on your phone.</p>
        <p class="nhsuk-body">For security, only do this on a device and Internet connection that you trust, as your information may be intercepted.</p>
    </div>

    <!-- APPLE WALLET SECTION ON IOS  -->
    <div class="apple-wallet-section--ios">

        <p>If you use Apple Wallet, you can click the button below to add your certificate.</p>

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full" style="margin-bottom: 20px;">

            <a href="apple-wallet-add">
                <img id="appleWalletButton" src="/images/US-UK_Add_to_Apple_Wallet_RGB_101421.svg" 
                style="width: 200px; " alt="Add to Apple Wallet button" data-inline="true"
                data-module="nhsuk-button" data-prevent-double-click="true" type="submit">
            </a>
        

            </div>
        </div>
    </div>




    <h2 class="nhsuk-heading-m">How to get your help</h2>


   <h3 class="nhsuk-heading-s">Collecting prescriptions</h3>
    <p class="nhsuk-body">Pharmacy staff will ask for your Prescription Prepayment Certificate details. If you have them, your pharmacist will tick box F on the prescription. If you do not have them with you, they should tick 'Evidence not seen'. They will not charge you.</p>
    

    <p class="nhsuk-body"><a href="#">Print this</a></p>

    <h2 class="nhsuk-heading-s">Help us improve this service</h2>
    <p class="nhsuk-body"><a href="{{ data.feedbackLink }}">What did you think of this service?</a> (Takes 30 seconds)</p>

    <hr class="nhsuk-section-break" />

    {{ actionLink({
        text: 'Check again',
        href: 'start'
    }) }}


  </div>
</div>

{% endblock %}