{% extends 'layout.html' %}


{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">


    {% set panelHTML %}
      <dl>
         <div>
             <dd class="nhsuk-body nhsuk-u-margin-0">Certificate number:</dd>
             <dt class="nhsuk-heading-l">8436 810 379</dt>
         </div>
         <div>
             <dd class="nhsuk-body nhsuk-u-margin-0">Exemption ends:</dd>
             <dt class="nhsuk-heading-l nhsuk-u-margin-bottom-0">{{ 6 | alterTodaysDateByNumberOfMonths }}</dt>
         </div>
     </dl>
    {% endset %}

    {{ panel({
      titleText: 'You currently have a maternity exemption',
       html: panelHTML
    }) }}

    {{ list({
      title: 'You get free',
      type: 'tick',
      headingLevel: 2,
      items: [
        { item: 'NHS prescriptions' },
        { item: 'NHS dental check-ups and treatment' }    
      ]
    }) }}

    <h2 class="nhsuk-u-visually-hidden">Exemption details</h2>

    {{ summaryList({
      rows: [
        {
          key: { text: 'Full name' },
          value: { html: '' | processName() },
          actions: {
            items: [
              { href: '#', text: 'Change', visuallyHiddenText: 'full name' }
            ]
          }
        },
        {
          key: { text: 'Date of birth' },
          value: { text: '' | processDateOfBirth() }
        },
        {
          key: { text: "Due date or baby's birth date" },
          value: { text: -9 | alterTodaysDateByNumberOfMonths },
          actions: {
            items: [
              { href: '#', text: 'Change', visuallyHiddenText: 'full name' }
            ]
          }
        },
        {
          key: { text: 'End date' },
          value: { text: 6 | alterTodaysDateByNumberOfMonths }
        },
        {
          key: { text: "Today's date" },
          value: { text: 0 | alterTodaysDateByNumberOfMonths }
        }
      ]
    }) }}


    <!-- SAVE YOUR CERTIFICATE -->
    <h2 class="nhsuk-heading-m">Save your certificate</h2>
    <p class="nhsuk-body">You must save your certificate details. You can do this by saving it as a PDF, printing a copy, or taking a screenshot of this page.</p>
    <p class="nhsuk-body">If you're taking a screenshot, make sure it shows your certificate details.</p>

    <ul class="nhsuk-list nhsuk-list--bullet">
      <li><a href="#">Save as a PDF</a></li>
      <li><a href="#">Print out a copy</a></li>
    </ul>

     <h3 class="nhsuk-heading-s">Add your certificate to an Apple Wallet</h2>
    <p class="nhsuk-body">If you use Apple Wallet, you can <a href="#">download your certificate</a> and then send it to your iPhone - for example, by emailing the file to yourself and opening it on your phone.</p>



    <h2 class="nhsuk-heading-m">How to get your help</h2>

    <h3 class="nhsuk-heading-s">Collecting prescriptions</h3>
    <p class="nhsuk-body">Pharmacy staff will ask for your maternity exemption details. If you have them, your pharmacist will tick box D on the prescription. If you do not have them with you, they should tick 'Evidence not seen'. They will not charge you.</p>
    <p class="nhsuk-body">You can show this page as proof today.</p>

    <h3 class="nhsuk-heading-s">Dental check-ups and treatment</h3>
    <p class="nhsuk-body">At your dental practice you'll be given a form to fill out.</p>
    <p class="nhsuk-body">Put a cross (X) in the relevant box and write your certificate number on the form if you:</p>

    <ul class="nhsuk-list nhsuk-list--bullet">
      <li>have a valid HC2 certificate</li>
      <li>are pregnant</li>
      <li>have had a baby in the last 12 months</li>
    </ul>

    <p class="nhsuk-body">Your dentist may ask to see proof of your entitlement.</p>
    <p class="nhsuk-body">You can show this page as proof today.</p>
    <p class="nhsuk-body">Find out what <a href="https://www.nhsbsa.nhs.uk/check-if-you-have-nhs-exemption/maternity-exemption-certificates">help you can get for dental treatment if you have a maternity
        exemption certificate</a></p>

    <p class="nhsuk-body"><a href="#">Print this</a></p>

    <h2 class="nhsuk-heading-s">Help us improve this service</h2>
    <p class="nhsuk-body"><a href="{{ data.feedbackLink }}">What did you think of this service?</a> (Takes 30 seconds)</p>

    <hr class="nhsuk-section-break" />

    {{ actionLink({
        text: 'Check again',
        href: 'start'
    }) }}


  </div>
</div>

{% endblock %}