{% extends 'layout.html' %}


{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="verification-method" method="post" novalidate>

      {{ radios({
        name: 'verificationMethod',
        fieldset: {
          legend: {
            text: 'How would you like to verify your identity?',
              classes: 'nhsuk-fieldset__legend--l',
              isPageHeading: true
          }
        },
        value: data.verificationMethod,
        items: [
          {
            value: 'text-message',
            text: 'Verify by text message'
          },
          {
            value: 'email-address',
            text: 'Verify by email address'
          }
        ]
      }) }}

      {{ details({
        summaryText: 'I cannot use any of these options',
        html: 'If you do not have access to either the mobile phone or email address used in applying for your exemption, you can <a href="#">contact us</a> for further help.</p>'
      }) }}

      {{ button({
        text: 'Continue'
      }) }}

    </form>



  </div>
</div>

{% endblock %}