{% extends 'layout.html' %}


{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <div class="done-panel">
      <h1 class="nhsuk-heading-xl done-panel nhsuk-u-margin-0">
        You get help with health costs
      </h1>
    </div>

   
<h2 class="nhsuk-heading-m">Because you're 60 or over:</h2>

<p class="nhsuk-heading-m">You get free:</p>
<ul>
<li>NHS prescriptions</li>
<li>sight tests</li>
</ul>

<p class="nhsuk-heading-m">You do not automatically get free:</p>

<ul>
  <li>NHS dental check-ups and treatment</li>
</ul>

<hr />

<h2 class="nhsuk-heading-m">How to get your help</h2>
<p>In most circumstances you won't have to do anything as your date of birth will be on your medical records and will show your age.</p>

<h2 class="nhsuk-heading-s">To get your free prescriptions</h2>
<p>Tick box C (third box down) on the back of the prescription form.</p>

<h2 class="nhsuk-heading-m">Could you get help to pay other NHS costs?</h2>
<p>Answer a few more questions about your circumstances to check if you could get <a href="https://www.nhsbsa.nhs.uk/nhs-help-health-costs">help to pay other NHS costs</a>.</p>


   

    <h2 class="nhsuk-heading-s">Help us improve this service</h2>
    <p class="nhsuk-body"><a href="{{ data.feedbackLink }}">What did you think of this service?</a> (Takes 30 seconds)</p>

    <hr class="nhsuk-section-break" />

    {{ actionLink({
    text: 'Check again',
    href: 'start'
    }) }}


  </div>
</div>

{% endblock %}