{% extends 'layout.html' %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ backLink({
    text: 'Go back',
    href: 'javascript:history.back();'
  }) }}
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <form action="name" method="post" novalidate>

        {% call fieldset({
        legend: {
          text: 'What is your name?',
          classes: 'nhsuk-fieldset__legend--l',
          isPageHeading: true
        }
      }) %}

        {{ input({
        label: {
          text: 'First name'
        },
        classes: 'nhsuk-u-width-two-thirds',
        id: 'firstName',
        name: 'firstName',
        value: data.firstName
      }) }}

        {{ input({
        label: {
          text: 'Last name'
        },
        classes: 'nhsuk-u-width-two-thirds',
        id: 'lastName',
        name: 'lastName',
        value: data.lastName
      }) }}

        {% endcall %}

        {{ button({
          text: 'Continue'
       }) }}

      </form>

    </div>
  </div>

  {{ data | debugData | safe }}

{% endblock %}