{% extends 'layout.html' %}

{% block beforeContent %}
  {{ backLink({
    text: 'Back',
    href: 'javascript:history.back();'
  }) }}
{% endblock %}


{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="postcode" method="post" novalidate>

      {% call fieldset({
      legend: {
        text: 'What is your postcode?',
        classes: 'nhsuk-fieldset__legend--l',
        isPageHeading: true
      }
      }) %}

      {{ input({
      label: {
        text: 'Postcode'
      },
      classes: 'nhsuk-input--width-10',
      id: 'addressPostcode',
      name: 'addressPostcode',
      value: data.addressPostcode
      }) }}

      {% endcall %}

      {{ button({
        text: 'Continue'
      }) }}

    </form>



  </div>
</div>

{% endblock %}