{% extends 'layout.html' %}

{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
    
    {{ backLink({
        text: 'Go back',
        href: 'javascript:history.back();'
    }) }}

{% endblock %}


{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

    <h1 class="nhsuk-heading-l">You currently have an NHS exemption</h1>
    <p class="nhsuk-body">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
   

    </div>
  </div>

{% endblock %}
