<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
NHS.UK prototype kit
{% endblock %}

<!-- For adding a breadcrumb or back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs and https://service-manual.nhs.uk/design-system/components/back-link -->
{% block beforeContent %}
{% endblock %}


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full-width">

    <!-- Change the page title here -->
    <h1>
      Exemption Checker
      <span class="nhsuk-caption-xl nhsuk-caption--bottom">Version 1.0</span>
    </h1>


    {% set exemptionCheckerPrototype %}

      <!-- EXEMPTION CHECKER TAB -->

      <p>This prototype is a recreation of the current live product. It will form the basis of future iteration work.</p>

      {{ button({
        text: 'Latest prototype v1.0',
        href: '/v1/start'
      }) }}

      <p class="nhsuk-body"><a href="/v1/start?userRecordFound=false">Latest prototype v1.0 - "No record found" route</a></p>

    {% endset -%} 
    
    
    {% set researchPrototype %}

      <!-- RESEARCH PROTOTYPE TAB -->

      {{ button({
        text: 'Save and continue'
      }) }}

    {% endset -%}

    {{ tabs({
    items: [
    {
      label: 'Exemption checker prototype',
      id: 'exemptionCheckerPrototype',
      panel: {
        html: exemptionCheckerPrototype
      }
    }
    ]
    }) }}

    <!--

    ,
    {
      label: 'Research prototype',
      id: 'researchPrototype',
      panel: {
        html: researchPrototype
      }
    }

    -->


  </div>
</div>
{% endblock %}