<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{% endblock %}


{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <h1>Exemption checker</h1>


    {% set prototypeV1TabHTML %}

      <!-- PROTOTYPE TAB V1 -->

      <p>This prototype is a recreation of the current live product. It will form the basis of future iteration work.</p>

      {{ button({
        text: 'Launch v1 prototype',
        href: '/v1/start'
      }) }}

      <p class="nhsuk-body"><a href="/v1/">Configure v1 prototype</a></p>

    {% endset -%} 

    {% set prototypeV2TabHTML %}

      <!-- PROTOTYPE TAB V2 -->

      <p>Features created in this version:</p>
      <ul>
        <li>Standardised and updated components to latest toolkit</li>
        <li>Adding HRT PPC to the list of checked options</li>
      </ul>

      {{ button({
        text: 'Launch v2 prototype',
        href: '/v2/start'
      }) }}

      <p class="nhsuk-body"><a href="/v2/">Configure v2 prototype</a></p>

    {% endset -%} 
    
    
    {% set pageListV1TabHTML %}

      <!-- PAGE LIST TAB V1 -->

      {{ table({
        panel: false,
        caption: 'Cookies pages',
        firstCellIsHeader: false,
        head: [
          { text: 'Description' },
          { text: 'Prototype link' }
        ],
        rows: [
          [
            { text: 'Start page with cookies' },
            { html: '<a class="nhsuk-link" href="v1/cookies/start-cookies">Cookies banner on start page</a>' }
          ],
          [
            { text: 'Choose cookies' },
            { html: '<a class="nhsuk-link" href="v1/cookies/choose-cookies">Choose cookies</a>' }
          ],
          [
            { text: 'Cookie settings saved' },
            { html: '<a class="nhsuk-link" href="v1/cookies/cookies-saved">Your cookie settings have been saved</a>' }
          ],
          [
            { text: 'NHSBSA cookies' },
            { html: '<a class="nhsuk-link" href="v1/cookies/nhsbsa-cookies">Cookies on the NHSBSA website</a>' }
          ]
        ]
      }) }}

      {{ table({
        panel: false,
        caption: 'Error pages',
        firstCellIsHeader: false,
        head: [
          { text: 'Description' },
          { text: 'Prototype link' }
        ],
        rows: [
          [
            { text: 'Choose cookies error' },
            { html: '<a class="nhsuk-link" href="v1/cookies/choose-cookies-error">Choose cookies - No radio selected</a>' }
          ]
        ]
      }) }}

    {% endset -%}

    <h2 class="nhsuk-heading-l">Version 1</h2>

    {{ tabs({
      items: [
        {
          label: 'Prototype',
          id: 'prototypeV1Tab',
          panel: { html: prototypeV1TabHTML }
        },
        {
          label: 'Page list',
          id: 'pageListV1Tab',
          panel: { html: pageListV1TabHTML }
        }
      ]
    }) }}


  </div>
</div>
{% endblock %}