<!--
  This is the main layout where you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Extends the prototype kit template which in turn extends the NHS.UK frontend template -->
{% extends "prototype-kit-template.njk" %}

{% block head %}
  <meta name="csrf-token" content="{{ csrfToken }}">
  <!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
  <link href="/assets/sass/main.css" rel="stylesheet">
{% endblock %}

<!-- Set the page title -->
{% block pageTitle %}
  {{ serviceName }}
{% endblock %}

<!-- Edit the header -->
<!-- Header code examples can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}

  {{ header({
    service: {
        text: serviceName,
        href: '/'
      }
    })
  }}

  <!-- PHASE BANNER -->
  <div class="nhsuk-width-container">
    <div class="nhsuk-phase-banner">
      <p class="nhsuk-phase-banner__content">
        <strong class="nhsuk-tag nhsuk-phase-banner__content__tag">{{ data.phaseBannerTagText }}</strong>
        <span class="nhsuk-phase-banner__text">This is a new service.</span>
      </p>
    </div>
  </div>

{% endblock %}

<!-- Edit the footer -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}

  {% if data.debug === 'true' %}
    <!-- DEBUGGING INFORMATION -->
    <div class="nhsuk-width-container">
      <div class="nhsuk-grid-row">
        {{ textarea({
          name: 'debug',
          id: 'debug',
          label: {
            text: 'Session data'
          },
          value: data | dump
        }) }}
      </div>
    </div>
  {% endif %}

  {{ footer({
    meta: {
      items: [
        {
          href: '/',
          text: 'Home'
        },
        {
          href: '/prototype-admin/reset?returnPage=' + (currentPage | urlencode),
          text: 'Reset data'
        }
      ]
    }
  })}}
  
{% endblock %}

{% block bodyEnd %}
  {{ super() }}
  <script type="module" src="/assets/javascript/main.js"></script>
  {% block pageScripts %}{% endblock %}
{% endblock %}